gradio
huggingface-hub==0.36.0

torch
torchvision
ultralytics
boxmot==13.0.7
deep-sort-realtime
filterpy
lapx

opencv-python-headless
numpy
pillow
PyYAML
tqdm

faiss-cpu
sentence-transformers
transformers

fastapi
uvicorn
python-multipart
motmetrics
pandas
scipy
scikit-learn
requests